@import "/css/min-normalize.css";
body{
	padding:0;
    margin:0;
	background-color:#c0c0c0;}
.container{
	min-width:330px;
	max-width:880px;
	margin:0 auto;
	padding-left:5%;
	padding-right:5%;
	background-color:#ffffff;
	}	

@media screen and (min-width: 630px){	
	.logo{
	float:left;
	width:45%;
	text-align:left;
	font-family: "Open Sans Condensed", "Arial", sans-serif;
	font-size:44px;
	font-weight:400;
	color:#404040;
	}
	.logo .logo_subtitle{
		font-family: "Open Sans Condensed", "Arial", sans-serif;
	font-size:18px;
	font-weight:400;
	color:#404040;
	margin:0;
	}
	
	.clearfix:after{
	content:"";
	display:block;
	clear:both;	
    }
    .menu{
	float:right;
	width:55%;
	text-align:right;
	font-family: "Open Sans Condensed", "Arial", sans-serif;
	font-size:16.5px;
	font-weight:300;
	text-transform:uppercase;
	
	}
	.menu .menu_item{
	display:inline-block;
	vertical-align:top;	
	padding-top:50px;
	padding-bottom:10px;
	padding-right:9px;
	padding-left:11px;
	text-decoration:none;
	color:#404040;
   }

  } 
	
@media screen and (max-width: 630px) {
	.logo{	
	text-align:left;
	font-family: "Open Sans Condensed", "Arial", sans-serif;
	font-size:44px;
	font-weight:400;
	color:#404040;
     padding-left:5%;
	padding-right:5%;
	}
	.logo .logo_subtitle{
		font-family: "Open Sans Condensed", "Arial", sans-serif;
	font-size:18px;
	font-weight:400;
	color:#404040;
	margin:0;
	padding-bottom:27px;
	}
	.underline_grey{
		background:#cfcfcf;
		height:1px;
	}
	.main-header{
	padding-top:33px;
	padding-left:0;
	padding-right:0;
	}
	.navigation{
		padding-left:5%;
	    padding-right:5%;
	}
    .menu{	
	padding-left:5%;
    padding-right:5%;
	text-align:justify;
	padding-top:16px;
	padding-bottom:80px;
	font-family: "Open Sans Condensed", "Arial", sans-serif;
	font-size:23.5px;
	font-weight:300;
	text-transform:uppercase;
	}
	
	.menu .menu_item{
	display:inline-block;
    vertical-align:top;
	padding-top:15px;
	padding-bottom:15px;
	padding-left:1%;
	padding-right:1%;
	white-space:nowrap;
	text-decoration:none;
	color:#404040;
}
    .menu:after{
	content:"";
	display:inline-block;
	width:100%;
}


}
    
   .menu .menu_item_active{
	background-color:#d45e5e;
	color:#ffffff;
}
    .contacts{
	padding-top:140px;
	padding-bottom:25px;
    text-align:center;
	background:
	url("../img/comma.png")no-repeat 50% 55%,
	url("../img/contacts-art.svg") no-repeat 0% 100% #ffffff;
	background-size:5%,95%;
	
	}
	
   .contacts .contacts_content{
	font-family: 'Noto Serif', serif;
	font-size:18px;
	font-weight:400;
	margin:0;
	padding-bottom:25px;
	padding-top:50px;
	}	
   .gallery{
	text-align:center;
	padding-top:100px; 
	padding-bottom:100px;
}  
    
@media screen and (min-width: 630px){
	.gallery_name{
		color:#424242;
		text-align:center;
	padding-right:55%}
	.gallery_item{
	display:inline-block;
	vertical-align:top;
	width:200px;
	min-height:210px;
	background-color:#ffffff;
	margin-top:17px;
	margin-bottom:17px;
	margin-right:15px;
	margin-left:15px;
}
}
@media screen and (max-width: 630px){
	.gallery_name{
		color:#424242;
		text-align:center;
	padding-right:25%}
	.gallery_item{
	display:inline-block;
	vertical-align:top;
	width:200px;
	min-height:210px;
	background-color:#ffffff;
	margin-top:27px;
	margin-bottom:27px;
	margin-right:33px;
	margin-left:33px;
}
}
.gallery  .gallery_link:nth-child(2) .gallery_item{
	background:url("../img/nerds1.jpg") no-repeat 30% 0%;
	background-size:150%;
}
.gallery  .gallery_link:nth-child(3) .gallery_item{
	background:url("../img/nerds-katalog2.png") no-repeat 70% 40%;
	background-size:230%;
}
.gallery  .gallery_link:nth-child(4) .gallery_item{
	background:url("../img/sedona-768.jpg") no-repeat 50% 0%;
	background-size:150%;
}
.gallery  .gallery_link:nth-child(5) .gallery_item{
	background:url("../img/sedona-index-768.jpg") no-repeat 50% 10%;
	background-size:150%;
}	

.gallery  .gallery_link:nth-child(6) .gallery_item{
	position: relative;
 	background:url("../img/cat-energy-index.jpg") no-repeat 50% 0%;
	background-size:150%;
 }	

.gallery_link:nth-child(6) .gallery_item::before{
  content:"New";
  position: absolute;
  background-color: transparent;
  left: 5px;
  top: 5px;
  font-family: "Open Sans Condensed", "Arial", sans-serif;
  font-size: 24px;
  font-weight: bold;
  color: red;
  text-transform: uppercase;
}

.gallery_link:nth-child(6) .gallery_item:hover::before {
	font-size: 60px;
}

.gallery  .gallery_link:nth-child(7) .gallery_item{
background-image: radial-gradient(#bb5e5e, #ffffff);
background-size:20%;
 background-repeat:repeat;
}
@media screen and (max-width: 630px) {
	.bio{	
	font-family: 'Noto Serif', serif;
	font-size:0.9em;
	font-weight:700;
	color:#ffffff;
    min-height:263px;
    background-color:#d45e5e;
	padding-left:0;
	padding-right:0;
	padding-bottom:40px;
	
}
.bio_name{
	padding-top:10px;
	padding-bottom:10px;
	padding-left:5%;
	padding-right:5%;
	position:relative;
}
.bio_name .bio_social-btn{
	position:absolute;
	top:110px;
	
}
.bio_name .fa-github{
	font-size:3em;
	font-weight:normal;
	color:#ffffff;
	margin-right:40px;
}
.bio_name .fa-github:after{
	content:" Github";
	font-size:20px;
	font-weight:normal;
	color:#ffffff;
}
.bio_name .fa-skype{
	font-size:3em;
	font-weight:normal;
	color:#ffffff;
}
.bio_name .fa-skype:after{
	content:" Skype";
	font-size:20px;
	font-weight:normal;
	color:#ffffff;
}
.bio_name .bio_img{
	width:123px;
	height:123px;
	border:solid 8px #ffffff;
	margin-top:-60px;
	margin-right:20px;
	float:left;
}
.bio_name h3{
	font-family: 'Noto Serif', serif;
	font-weight:400;
	color:#ffffff;
	margin-top:0;
	margin-bottom:5px;
}
.bio_name p{
	margin-top:0;
	margin-bottom:0;}
.bio .bio_link{
	color:#2c2c2c;
	text-decoration:none;
}
.bio .bio_link:hover{text-decoration:underline;}

.bio_text{
	font-family: "Open Sans Condensed", "Arial", sans-serif;
	font-size:0.9em;
	font-weight:700;
	padding-top:70px;
	padding-bottom:40px;
	padding-left:5%;
	padding-right:5%;
	text-align:justify;
	
}
.underline_white{
	height:1px;
	background:#ffffff;
}
.bio_skills{
	padding-top:30px;
	padding-bottom:15px;
	padding-left:5%;
	padding-right:5%;
	}
.bio_skills_item{
	font-family: "Open Sans Condensed", "Arial", sans-serif;
	font-size:22px;
	font-weight:400;
	width:200px;
	height:10px;
	margin-top:15px;
	margin-left:40px;
	position:relative;
}
}	
@media screen and (min-width: 630px){ 	
.bio{
	font-family: 'Noto Serif', serif;
	font-size:0.9em;
	font-weight:700;
	color:#ffffff;
    min-height:263px;
    background-color:#d45e5e;
    padding-bottom:40px;
	
}
.bio_name{position:relative;}
.bio_name .bio_social-btn{
	position:absolute;
	top:110px;
	
}
.bio_name .fa-github{
	font-size:3em;
	font-weight:normal;
	color:#ffffff;
	margin-right:40px;
}
.bio_name .fa-github:hover{color:#2c2c2c;}
.bio_name .fa-github:after{
	content:" Github";
	font-size:20px;
	font-weight:normal;
	color:#ffffff;
}
.bio_name .fa-skype{
	font-size:3em;
	font-weight:normal;
	color:#ffffff;
}
.bio_name .fa-skype:after{
	content:" Skype";
	font-size:20px;
	font-weight:normal;
	color:#ffffff;
}
.bio_name .fa-skype:hover{color:#2c2c2c;}
.bio_name .bio_img{
	width:123px;
	height:123px;
	border:solid 8px #ffffff;
	margin-top:-60px;
	margin-right:20px;
	float:left;
}
.bio_name h3{
	font-family: 'Noto Serif', serif;
	font-weight:400;
	color:#ffffff;
	margin-top:0;
	margin-bottom:5px;
}
.bio_name p{
	margin-top:0;
	margin-bottom:0;}
.bio .bio_link{
	color:#2c2c2c;
	text-decoration:none;
}
.bio .bio_link:hover{
	text-decoration:underline;}

.bio_text{
	width:70%;
	float:left;
	font-family: "Open Sans Condensed", "Arial", sans-serif;
	font-size:14px;
	font-weight:700;
	padding-top:80px;
	padding-bottom:40px;
	text-align:justify;
	
	
}
.bio_text p{
	margin-top:0;
	margin-bottom:0;}
.bio_skills{
	width:25%;
	float:right;
	padding-bottom:15px;
	margin-top:-30px;
	
	
	}
.bio_skills_item{
	font-family: "Open Sans Condensed", "Arial", sans-serif;
	font-size:22px;
	font-weight:400;
	width:80%;
	height:10px;
	margin-top:15px;
	margin-left:40px;
	position:relative;

	
	}

}
.popap-certificate {
    display: none;
    position: fixed;
    z-index: 2;
    top: 30px;
    left: 50%;
	margin-left:-20%;
    width:40%;
    min-height:490px;
    background:url("../img/HTMLAcademy-16605.jpeg") no-repeat 50% 0%;
	background-size:contain;
   
}
.popap-certificate_show {
    display: block;
}
.popap-certificate .popap-certificate_close {
    font-family: "FontAwesome";
    padding-top: 0px;
    padding-bottom: 0px;
    font-size: 28px;
    line-height: 28px;
    color: #2c2c2c;
    position: absolute;
    top: -25px;
    right: -25px;
    background-color: transparent;
}
.popap-certificate .popap-certificate_close:hover{color: #d45e5e;;}
.bio_skills_item:nth-child(2){
	background-image:linear-gradient(to right, #2c2c2c 80%, #ca7777 20%);
}
.bio_skills_item:nth-child(3){
	background-image:linear-gradient(to right, #2c2c2c 80%, #ca7777 20%);
}
.bio_skills_item:nth-child(4){
	background-image:linear-gradient(to left, #ca7777 70%, #2c2c2c 30%);
}
.bio_skills_item:nth-child(5){
	background-image:linear-gradient(to left, #ca7777 80%, #2c2c2c 20%);
	
}



.bio_skills_item_html:before{	
	content:"Html";
	position:absolute;
	left:-40px;
	top:-14px;	
}
.bio_skills_item_css:before{
	content:"Css";
	position:absolute;
	left:-40px;
	top:-14px;	
}
.bio_skills_item_ps:before{
	content:"Ps";
	position:absolute;
	left:-40px;
	top:-14px;	
}
.bio_skills_item_github:before{
	content:"Git";
	position:absolute;
	left:-40px;
	top:-14px;	
}
.main-footer{
    min-height:40px;
    background-color:#282828;
	}
