  @font-face {
    font-family:"MuseoSansRounded-900"; 
    src: url("../fonts/MuseoSansRounded-900.ttf"),
	     url("../fonts/MuseoSansRounded-900.eot"),
	     url("../fonts/MuseoSansRounded-900.woff"),
	     url("../fonts/MuseoSansRounded-900.woff2");
	
   }
 @font-face {
    font-family:"MuseoSansRounded-100"; 
    src: url("../fonts/MuseoSansRounded-100.ttf"),
	     url("../fonts/MuseoSansRounded-100.eot"),
	     url("../fonts/MuseoSansRounded-100.woff"),
	     url("../fonts/MuseoSansRounded-100.woff2");
   }
  @font-face {
    font-family:"PlayfairDisplayBoldItalic"; 
    src: url("../fonts/PlayfairDisplayBoldItalic.ttf"),
	     url("../fonts/PlayfairDisplayBoldItalic.eot"),
	     url("../fonts/PlayfairDisplayBoldItalic.woff"),
	     url("../fonts/PlayfairDisplayBoldItalic.woff2");
   }


body{
	padding:0;
    margin:0;
	}
	
@media screen and (max-width:1440px){
.home-page{
	width:1440px;
	
}
.container{
	font-family:"MuseoSansRounded-900", sans-serif;
	font-weight:900;
	width:100%;
	max-height:900px;
	margin:0 auto;
	background:url("../img/background-video.png") no-repeat;
	background-size:auto;
}
.menu{
	display:inline-block;
	vertical-align:middle;
	margin-right:23px;
	width:15px;
	height:6px;
	border-top:solid 2px #ffffff;
	border-bottom:solid 2px #ffffff;
}
.logo{
	display:inline-block;
	vertical-align:middle;}
.nav{
	position:fixed;
	top:26px;
	left:50%;
	z-index:1;
	margin-left: -53.5px;
	width:107px;
	height:31px;
    	
}
.aside{	

    width:330px;
	height:900px;
	display:none;}
	
.aside_item{
	position:relative;
	width:330px;
	height:180px;
	
}
.aside_item_eye{
	width:38px;
	height:38px;
	border-radius:50%;
	border:solid 2px #ffffff;
	position:absolute;
	top:50%;
	margin-top:-19px;
	left:50%;
	margin-left:-19px;	
}
.aside_item_eye:hover{
	width:46px;
	height:46px;
	margin-top:-23px;
	margin-left:-23px;	
	
}
.aside_item_eye	.eye{
	width:17px;
	height:13px;
	position:absolute;
	top:50%;
	margin-top:-6.5px;
	left:50%;	
	margin-left:-8.5px;
	
}
.aside-left .aside_item:before{
	content:"";
	position:absolute;
	top:0;
	left:0;
	width:60px;
	height:180px;
	background:#222222;
	opacity:0.2;
}
.aside-left .aside_item_drape{
	position:absolute;
	top:0;
	right:0;
	width:270px;
	height:179px;
	border-bottom:solid 1px #000000;
	background:#222222;
}

.aside_item_drape p{
	padding-left:53px;
	margin:0;
  font-family:"MuseoSansRounded-900", sans-serif;
  font-size: 20px;
  font-weight: 900;
  font-style: normal;
  font-stretch: normal;
  line-height: 27px;
  letter-spacing: 0.6px;
  color: #ffffff;
  text-align:left;
}
.aside_item:nth-of-type(1) p{
	padding-top:43px;
}
.aside_item:nth-of-type(2) p{
	padding-top:64px;
}
.aside_item:nth-of-type(3) p{
	padding-top:58px;
}
.aside_item:nth-of-type(4) p{
	padding-top:64px;
}
.aside_item:nth-of-type(5) p{
	padding-top:64px;
}

.aside_item_drape i{
  font-family: "PlayfairDisplayBoldItalic", serif;
  font-size: 10px;
  font-weight: bold;
  font-style: italic;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #ffffff;
  text-transform: lowercase;
}
.aside_item_drape span{
  font-family: "MuseoSansRounded-900";
  font-size: 12px;
  font-weight: 900;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: 1.9px;
  color: #ffffff;
}

.aside-right .aside_item:before{
	content:"";
	position:absolute;
	top:0;
	right:0;
	width:60px;
	height:180px;
	background:#222222;
	opacity:0.2;
}
.aside-right .aside_item_drape{
	content:"";
	position:absolute;
	top:0;
	left:0;
	width:270px;
	height:179px;
	border-bottom:solid 1px #000000;
	background:#222222;
}
.aside_item:hover:before{
	display:none;
}
.aside_item:hover .aside_item_drape{
	display:none;
}
.aside_button{
	background-color: #f8574a;
	border-radius:1px;
	margin:0 auto;
	padding-top:23px;
	padding-bottom:23px;
	position:fixed;
	width:160px;
	text-align:center;
	font-family:"MuseoSansRounded-900";
  font-size: 12px;
  font-weight: 900;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: 0.8px;
  color: #ffffff;
  text-decoration:none;
}
.aside_button:hover{
	background-color:#ec2c1c;
}
.aside_button_left{
	bottom:34px;
	left:95px;
}
.aside_button_right{
	bottom:34px;
	right:95px;
}

.content{position:relative;}
.content_column{
	padding-top:390px;
	padding-bottom:332px;
	max-height:120px;
	display:inline-block;
	vertical-align:top;
	font-family: "MuseoSansRounded-900", sans-serif;
  font-size: 50px;
  font-weight: 900;
  font-stretch: normal;
  line-height: 60px;
  color: #ffffff;
	text-transform:uppercase;
}
.content_column_left{
	padding-left:1.5%;
	text-align:left;
	width:31.5%;
	
}
.content_column_right{
	padding-right:1.5%;
	text-align:right;
	width:31.5%;
}
.content_column_center{
	text-align:center;
	width:33%;
}
.content_column_left:hover .aside-left{
	display:block;
	position:absolute;
	top:0;
	left:0;
	}
	
.content_column_right:hover .aside-right{
	display:block;
	position:absolute;
	top:0;
	right:0;}	

.circle_toggle_external{
	
	margin:0 auto;
	width:141px;
	height:141px;
	border: dotted 1px rgba(255,255,255, 0.2);
	border-radius:50%;
	
}
.circle_toggle_interior{
	position:relative;
	margin:0 auto;
	margin-top:39.5px;
	margin-bottom:39.5px;
	width:58px;
	height:58px;
	border: solid 2px #ffffff;
	border-radius:50%;
}	
.circle_icon{
	width:11px;
	height:15.5px;	
	
}
.circle_icon_right{	
	position:absolute;
	top:23px;
	left:15px;
}
.circle_icon_left{
	position:absolute;
	top:23px;
	right:15px;
}
.circle_icon:hover{opacity:0.4;}
.circle_icon:visited{opacity:0.4;}
.home-footer{
	height:58px;
}
.footer_company{
	width:57px;
	margin:0 auto;
	font-family:"MuseoSansRounded-900", sans-serif;
	font-weight:900;
	font-size:10px;
	letter-spacing:1px;
	text-align:center;
	padding-bottom:4px;
	color:#ffffff;
}
.vertical-line{
	padding-top:13px;
	width:1px;
	height:28px;	
	margin:0 auto;
	background:#ffffff;
}
.red_drape{
	display:none;
	width:1440px;
	height:900px;
	background-color:#cd0606;
}
.footer_company:hover .red_drape{
	display:block;
	position:absolute;
	top:0;
	left:0;
	}
}

@media screen and (min-width: 376px) and (max-width:768px){
.home-page{
	width:768px;
}	
.container{
	font-family:"MuseoSansRounded-900", sans-serif;
	font-weight:900;
	width:100%;
	max-height:1024px;
	margin:0 auto;
	background:url("../img/background-video-768.png") no-repeat;
	background-size:auto;
	
}	
.menu{
	display:inline-block;
	vertical-align:middle;
	margin-right:23px;
	width:15px;
	height:6px;
	border-top:solid 2px #ffffff;
	border-bottom:solid 2px #ffffff;
}
.logo{
	display:inline-block;
	vertical-align:middle;}
.nav{
	position:fixed;
	top:26px;
	left:50%;
	z-index:1;
	margin-left: -53.5px;
	width:107px;
	height:31px;
    	
}
.aside{	
    width:260px;
	height:1024px;
	display:none;}
	
.aside_item{
	position:relative;
	width:260px;
	height:180px;
	
}
.aside_item_eye{
	width:38px;
	height:38px;
	border-radius:50%;
	border:solid 2px #ffffff;
	position:absolute;
	top:50%;
	margin-top:-19px;
	left:50%;
	margin-left:-19px;	
}
.aside_item_eye:hover{
	width:46px;
	height:46px;
	margin-top:-23px;
	margin-left:-23px;	
	
}
.aside_item_eye	.eye{
	width:17px;
	height:13px;
	position:absolute;
	top:50%;
	margin-top:-6.5px;
	left:50%;	
	margin-left:-8.5px;
	
}
.aside-left .aside_item:before{
	content:"";
	position:absolute;
	top:0;
	left:0;
	width:60px;
	height:180px;
	background:#222222;
	opacity:0.2;
}
.aside-left .aside_item_drape{
	position:absolute;
	top:0;
	right:0;
	width:270px;
	height:179px;
	border-bottom:solid 1px #000000;
	background:#222222;
}

.aside_item_drape p{
	padding-left:53px;
	margin:0;
  font-family:"MuseoSansRounded-900", sans-serif;
  font-size: 20px;
  font-weight: 900;
  font-style: normal;
  font-stretch: normal;
  line-height: 27px;
  letter-spacing: 0.6px;
  color: #ffffff;
  text-align:left;
}
.aside_item:nth-of-type(1) p{
	padding-top:43px;
}
.aside_item:nth-of-type(2) p{
	padding-top:64px;
}
.aside_item:nth-of-type(3) p{
	padding-top:58px;
}
.aside_item:nth-of-type(4) p{
	padding-top:64px;
}
.aside_item:nth-of-type(5) p{
	padding-top:64px;
}

.aside_item_drape i{
  font-family: "PlayfairDisplayBoldItalic", serif;
  font-size: 10px;
  font-weight: bold;
  font-style: italic;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #ffffff;
  text-transform: lowercase;
}
.aside_item_drape span{
  font-family: "MuseoSansRounded-900";
  font-size: 12px;
  font-weight: 900;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: 1.9px;
  color: #ffffff;
}

.aside-right .aside_item:before{
	content:"";
	position:absolute;
	top:0;
	right:0;
	width:60px;
	height:180px;
	background:#222222;
	opacity:0.2;
}
.aside-right .aside_item_drape{
	content:"";
	position:absolute;
	top:0;
	left:0;
	width:270px;
	height:179px;
	border-bottom:solid 1px #000000;
	background:#222222;
}
.aside_item:hover:before{
	display:none;
}
.aside_item:hover .aside_item_drape{
	display:none;
}
.aside_button{
	background-color: #f8574a;
	border-radius:1px;
	margin:0 auto;
	padding-top:23px;
	padding-bottom:23px;
	position:fixed;
	width:160px;
	text-align:center;
	font-family:"MuseoSansRounded-900";
  font-size: 12px;
  font-weight: 900;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: 0.8px;
  color: #ffffff;
  text-decoration:none;
}
.aside_button:hover{
	background-color:#ec2c1c;
}
.aside_button_left{
	bottom:34px;
	left:95px;
}
.aside_button_right{
	bottom:34px;
	right:95px;
}
.content{position:relative;}
.content_column{
	padding-top:472px;
	padding-bottom:418px;
	max-height:80px;
	display:inline-block;
	vertical-align:top;
	font-family: "MuseoSansRounded-900", sans-serif;
  font-size: 30px;
  font-weight: 900;
  font-stretch: normal;
  line-height: 40px;
  color: #ffffff;
	text-transform:uppercase;
}
.content_column_left{
	padding-left:1.5%;
	text-align:left;
	width:31.5%;
	
}
.content_column_right{
	padding-right:1.5%;
	text-align:right;
	width:31.5%;
}
.content_column_center{
	text-align:center;
	width:33%;
}
.content_column_left:hover .aside-left{
	display:block;
	position:absolute;
	top:0;
	left:0;
	}
	
.content_column_right:hover .aside-right{
	display:block;
	position:absolute;
	top:0;
	right:0;}	

.circle_toggle_external{
	
	margin:0 auto;
	width:141px;
	height:141px;
	border: dotted 1px rgba(255,255,255, 0.2);
	border-radius:50%;
	
}
.circle_toggle_interior{
	position:relative;
	margin:0 auto;
	margin-top:39.5px;
	margin-bottom:39.5px;
	width:58px;
	height:58px;
	border: solid 2px #ffffff;
	border-radius:50%;
}	
.circle_icon{
	width:11px;
	height:15.5px;	
	
}
.circle_icon_right{	
	position:absolute;
	top:23px;
	left:15px;
}
.circle_icon_left{
	position:absolute;
	top:23px;
	right:15px;
}
.circle_icon:hover{opacity:0.4;}
.circle_icon:visited{opacity:0.4;}
.home-footer{
	height:54px;
}
.footer_company{
	width:57px;
	margin:0 auto;
	font-family:"MuseoSansRounded-900", sans-serif;
	font-weight:900;
	font-size:10px;
	letter-spacing:1px;
	text-align:center;
	padding-bottom:4px;
	color:#ffffff;
}
.vertical-line{
	padding-top:13px;
	width:1px;
	height:24px;	
	margin:0 auto;
	background:#ffffff;
}
.red_drape{
	display:none;
	width:1440px;
	height:900px;
	background-color:#cd0606;
}
.footer_company:hover .red_drape{
	display:block;
	position:absolute;
	top:0;
	left:0;
	}


}






@media screen and (min-width: 321px) and (max-width:375px){
.home-page{
	width:375px;
}		
.container{
	font-family:"MuseoSansRounded-900", sans-serif;
	font-weight:900;
	width:100%;
	max-height:667px;
	margin:0 auto;
	background:url("../img/background-video-375.png") no-repeat;
	background-size:auto;
}	
.menu{
	display:inline-block;
	vertical-align:middle;
	margin-right:23px;
	width:15px;
	height:6px;
	border-top:solid 2px #ffffff;
	border-bottom:solid 2px #ffffff;
}
.logo{
	display:inline-block;
	vertical-align:middle;}
.nav{
	position:fixed;
	top:17px;
	left:50%;
	z-index:1;
	margin-left: -53.5px;
	width:107px;
	height:31px;
    	
}	
}






		
@media screen and (max-width:320px){
.home-page{
	width:320px;
}		
.container{
	font-family:"MuseoSansRounded-900", sans-serif;
	font-weight:900;
	width:100%;
    max-height:568px;
	margin:0 auto;
	background:url("../img/background-video-320.png") no-repeat;
	background-size:auto;
}
.menu{
	display:inline-block;
	vertical-align:middle;
	margin-right:23px;
	width:15px;
	height:6px;
	border-top:solid 2px #ffffff;
	border-bottom:solid 2px #ffffff;
}
.logo{
	display:inline-block;
	vertical-align:middle;}
.nav{
	position:fixed;
	top:17px;
	left:50%;
	z-index:1;
	margin-left: -53.5px;
	width:107px;
	height:31px;
    	
}	
	
	
	
	
}
