.page-header
{
    min-height: 367px;

    background: #d3d3d3 url('../img/header-background.jpg') no-repeat 50% 0;
    background-size: contain;
}
.page-header__container
{
    width: 320px;
    margin: 0 auto;
}
.page-header__wrapper
{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
        flex-direction: row;

    min-height: 80px;
    padding-top: 10px;
    padding-bottom: 5px;

    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    -ms-flex-negative: 0;
    flex-shrink: 0;
}
@media (min-width: 768px)
{
    .page-header
    {
        min-height: 574px;

        background-size: cover;
    }
    .page-header__container
    {
        width: 768px;
    }
    .page-header__wrapper
    {
            flex-direction: row;

        padding-top: 30px;
        padding-right: 10px;
        padding-bottom: 30px;
        padding-left: 10px;

        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -ms-flex-direction: row;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between;
        -ms-flex-negative: 0;
        flex-shrink: 0;
    }
}
@media (min-width: 1200px)
{
    .page-header
    {
        min-height: 918px;

        background-size: cover;
    }
    .page-header__container
    {
        min-width: 1200px;
        max-width: 1920px;
    }
    .page-header__wrapper
    {
        padding-top: 30px;
        padding-right: 10px;
        padding-bottom: 30px;
        padding-left: 74px;
    }
}
.logo
{
    font-family: 'ProximaNova', 'Arial', sans-serif;
    font-size: 6px;
    font-weight: 600;
    line-height: 6px;

    width: 100px;
    height: 26px;
    padding-left: 85px;

    text-align: left;
    text-transform: uppercase;

    color: #66b045;
    background: url('../img/logo.png') no-repeat;
    background-size: 104px 26px;
}
@media (min-width: 768px)
{
    .logo
    {
        font-size: 12px;
        line-height: 13.3px;

        width: 138px;
        height: 63px;
        margin-top: 8px;
        margin-bottom: 8px;
        padding-right: 1px;
        padding-left: 215px;

        background-size: 259px 63px;
    }
}
@media (min-width: 1200px)
{
    .logo
    {
        width: 138px;
        height: 63px;
        margin-top: 8px;
        margin-bottom: 8px;
        padding-right: 1px;
        padding-left: 215px;

        background-size: 259px 63px;
    }
}
.contacts
{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
        flex-direction: column;

    width: 150px;
    height: 78px;
    padding-top: 1px;
    padding-right: 1px;
    padding-bottom: 1px;
    padding-left: 1px;

    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
}
.contacts:hover
{
    opacity: .5;
}
.contacts__link-phone
{
    font-family: 'ProximaNova', 'Arial', sans-serif;
    font-size: 12px;
    font-weight: bold;
    line-height: 1;

    text-align: right;
    white-space: nowrap;
    text-decoration: none;
    text-transform: uppercase;

    color: #66b045;
}
.contacts__icon--phone
{
    position: relative;

    width: 12px;
    height: 12px;
    padding-right: 15px;
}
.contacts__icon--phone::before
{
    position: absolute;
    top: 2px;
    left: 0;

    width: 12px;
    height: 12px;

    content: '';

    background: url('../img/icon-phone.png') no-repeat 50% 50%;
    background-size: 12px 12px;
}
.contacts__link-mail
{
    font-family: 'ProximaNova', 'Arial', sans-serif;
    font-size: 12px;
    font-weight: bold;
    line-height: 1;

    text-align: right;
    white-space: nowrap;
    text-decoration: none;

    color: #66b045;
}
.contacts__icon--mail
{
    position: relative;

    width: 12px;
    height: 10px;
    padding-right: 16px;
}
.contacts__icon--mail::before
{
    position: absolute;
    top: 3px;
    left: 0;

    width: 12px;
    height: 10px;

    content: '';

    background: url('../img/icon-mail.png') no-repeat 50% 50%;
    background-size: 12px 10px;
}
.contacts__link-map
{
    text-decoration: none;
}
.contacts__address-metro
{
    font-family: 'ProximaNova', 'Arial', sans-serif;
    font-size: 12px;
    font-weight: bold;
    font-style: normal;
    line-height: 1;

    margin-bottom: 0;

    text-align: right;

    color: #542749;
}
.contacts__icon--metro
{
    position: relative;

    width: 14px;
    height: 12px;
    padding-right: 16px;
}
.contacts__icon--metro::before
{
    position: absolute;
    top: 3px;
    left: 0;

    width: 12px;
    height: 10px;

    content: '';

    background: url('../img/icon-metro.png') no-repeat 50% 50%;
    background-size: 12px 10px;
}
.contacts__address-home
{
    font-family: 'ProximaNova', 'Arial', sans-serif;
    font-size: 12px;
    font-weight: bold;
    font-style: normal;
    line-height: 1;

    margin-top: 5px;
    padding-left: 25px;

    text-align: right;

    color: #66b045;
}
.contacts__address-home:hover
{
    color: #542749;
}
@media (min-width: 768px)
{
    .contacts
    {
            flex-direction: column;

        width: 256px;
        height: 78px;

        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
    }
    .contacts__link-phone
    {
        font-size: 18px;
    }
    .contacts__icon--phone
    {
        width: 16px;
        height: 16px;
        padding-right: 25px;
    }
    .contacts__icon--phone::before
    {
        width: 16px;
        height: 16px;

        background-size: 16px 16px;
    }
    .contacts__link-mail
    {
        font-size: 18px;
    }
    .contacts__icon--mail
    {
        position: relative;

        width: 14px;
        height: 12px;
        padding-right: 25px;
    }
    .contacts__icon--mail::before
    {
        top: 5px;

        width: 14px;
        height: 12px;

        background-size: 14px 12px;
    }
    .contacts__address-metro
    {
        font-size: 18px;

        text-align: right;
    }
    .contacts__icon--metro
    {
        padding-right: 25px;
    }
    .contacts__icon--metro::before
    {
        top: 5px;

        width: 14px;
        height: 12px;

        background-size: 12px 10px;
    }
    .contacts__address-home
    {
        font-size: 18px;
    }
}
@media (min-width: 1200px)
{
    .contacts
    {
            flex-direction: row;

        width: 406px;
        height: 78px;

        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -ms-flex-direction: row;
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    }
    .contacts__link-phone
    {
        font-size: 18px;
    }
    .contacts__icon--phone
    {
        width: 16px;
        height: 16px;
        padding-right: 25px;
    }
    .contacts__icon--phone::before
    {
        width: 16px;
        height: 16px;

        background-size: 16px 16px;
    }
    .contacts__link-mail
    {
        font-size: 18px;
    }
    .contacts__icon--mail
    {
        position: relative;

        width: 14px;
        height: 12px;
        padding-right: 25px;
    }
    .contacts__icon--mail::before
    {
        top: 5px;

        width: 14px;
        height: 12px;

        background-size: 14px 12px;
    }
    .contacts__address-metro
    {
        font-size: 18px;

        text-align: left;
    }
    .contacts__icon--metro
    {
        padding-right: 25px;
    }
    .contacts__icon--metro::before
    {
        top: 5px;

        width: 14px;
        height: 12px;

        background-size: 12px 10px;
    }
    .contacts__address-home
    {
        font-size: 18px;
    }
}
.showcase
{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
        flex-direction: column;

    min-height: 778px;
    padding-top: 5px;
    padding-right: 1px;
    padding-bottom: 15px;
    padding-left: 1px;

    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    -ms-flex-negative: 0;
    flex-shrink: 0;
}
.showcase__affiche
{
    width: 320px;
    height: 170px;
    padding: 1px;
}
.showcase__info
{
    margin-top: -55px;
    padding-top: 1px;
    padding-right: 145px;
    padding-bottom: 20px;
    padding-left: 1px;
}
.showcase__date
{
    font-family: 'ProximaNova', 'Arial', sans-serif;
    font-size: 18px;
    font-weight: regular;
    line-height: 1;

    margin-top: 0;
    margin-bottom: 5px;
    padding-left: 47px;

    text-transform: uppercase;

    color: #66b045;
}
.showcase__date strong
{
    font-size: 18px;
    font-weight: bold;
}
.showcase__date--big
{
    position: relative;
}
.showcase__date--big::before
{
    font-family: 'ProximaNova', 'Arial', sans-serif;
    font-size: 48px;
    font-weight: bold;
    line-height: 1;

    position: absolute;
    top: -5px;
    left: -5px;

    content: '10';
}
.showcase__info-description
{
    font-family: 'ProximaNova', 'Arial', sans-serif;
    font-size: 12px;
    font-weight: bold;
    line-height: 14px;

    margin-top: 5px;
    margin-bottom: 5px;

    text-transform: uppercase;

    color: #66b045;
}
.showcase__video-wrapper
{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;

    -ms-flex-negative: 0;
    flex-shrink: 0;
}
.showcase__title
{
    font-family: 'ProximaNova', 'Arial', sans-serif;
    font-size: 40px;
    font-weight: 800;
    line-height: 36px;

    margin-top: 0;
    margin-bottom: 0;
    padding-top: 2px;
    padding-bottom: 0;

    text-transform: uppercase;

    color: #542749;
}
.showcase__subtitle
{
    font-family: 'ProximaNova', 'Arial', sans-serif;
    font-size: 18px;
    font-weight: bold;
    line-height: 18px;

    margin-top: 0;
    margin-bottom: 0;
    padding-top: 0;
    padding-bottom: 2px;

    text-transform: uppercase;

    color: #542749;
}
.showcase__link-video
{
    position: relative;

    display: block;

    width: 60px;
    height: 60px;
    margin-top: 15px;
    margin-left: 63px;

    border-radius: 50%;
    background-color: #542749;
}
.showcase__link-video::before
{
    position: absolute;
    top: 15px;
    left: 23px;

    width: 23px;
    height: 28px;

    content: '';

    background: url('../img/icon-video.png') no-repeat;
    background-size: 23px 28px;
}
@media (min-width: 768px)
{
    .showcase
    {
            flex-direction: row;

        min-height: 778px;
        padding-top: 35px;
        padding-right: 10px;
        padding-bottom: 15px;
        padding-left: 10px;

        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -ms-flex-direction: row;
        -webkit-box-align: start;
        -ms-flex-align: start;
        align-items: flex-start;
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between;
    }
    .showcase__affiche
    {
        width: 320px;
        height: 640px;
        padding: 1px;
    }
    .showcase__info
    {
        margin-top: 0;
        padding-top: 1px;
        padding-right: 90px;
        padding-bottom: 20px;
        padding-left: 1px;
    }
    .showcase__date
    {
        font-size: 24px;

        margin-top: 0;
        padding-left: 85px;
    }
    .showcase__date strong
    {
        font-size: 24px;
        font-weight: bold;
    }
    .showcase__date--big::before
    {
        font-size: 83px;

        top: -10px;
        left: -5px;
    }
    .showcase__info-description
    {
        font-size: 18px;
        line-height: 20px;

        margin-top: 18px;
        margin-bottom: 18px;
    }
    .showcase__video-wrapper
    {
            flex-direction: column;

        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
    }
    .showcase__title
    {
        font-size: 90px;
        line-height: 74px;

        margin-top: 0;
        margin-bottom: 0;
        padding-top: 2px;
        padding-bottom: 0;

        letter-spacing: 5px;
    }
    .showcase__subtitle
    {
        font-size: 40px;
        line-height: 38px;

        margin-top: 0;
        margin-bottom: 0;
        padding-top: 0;
        padding-bottom: 2px;
    }
    .showcase__link-video
    {
        width: 120px;
        height: 120px;
        margin-top: 15px;
        margin-left: 63px;
    }
    .showcase__link-video::before
    {
        top: 30px;
        left: 46px;

        width: 46px;
        height: 56px;

        background-size: 46px 56px;
    }
}
@media (min-width: 1200px)
{
    .showcase
    {
        min-height: 778px;
        padding-top: 15px;
        padding-right: 10px;
        padding-bottom: 15px;
        padding-left: 10px;

        -webkit-box-align: start;
        -ms-flex-align: start;
        align-items: flex-start;
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between;
    }
    .showcase__affiche
    {
        width: 454px;
        height: 640px;
        padding: 1px;
    }
    .showcase__info
    {
        margin-top: 0;
        padding-top: 1px;
        padding-right: 155px;
        padding-bottom: 20px;
        padding-left: 64px;
    }
    .showcase__date
    {
        font-size: 24px;

        margin-top: 0;
        margin-bottom: 18px;
        padding-left: 85px;
    }
    .showcase__date strong
    {
        font-size: 24px;
        font-weight: bold;
    }
    .showcase__date--big::before
    {
        font-size: 83px;

        top: -10px;
        left: -5px;
    }
    .showcase__info-description
    {
        font-size: 18px;
        line-height: 20px;
    }
    .showcase__video-wrapper
    {
            flex-direction: column;

        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
    }
    .showcase__title
    {
        font-size: 110px;
        line-height: 94px;

        margin-top: 0;
        margin-bottom: 0;
        padding-top: 2px;
        padding-bottom: 0;

        letter-spacing: 5px;
    }
    .showcase__subtitle
    {
        font-size: 46px;
        line-height: 44px;

        margin-top: 0;
        margin-bottom: 0;
        padding-top: 0;
        padding-bottom: 2px;
    }
    .showcase__link-video
    {
        width: 120px;
        height: 120px;
        margin-top: 15px;
        margin-left: 63px;
    }
    .showcase__link-video::before
    {
        top: 30px;
        left: 46px;

        width: 46px;
        height: 56px;

        background-size: 46px 56px;
    }
}
.form
{
    position: relative;

    width: 316px;
    height: 490px;
    padding-top: 25px;
    padding-right: 2px;
    padding-bottom: 15px;
    padding-left: 2px;

    opacity: .8;
    background-color: #839fb1;
}
.form__title
{
    font-family: 'ProximaNova', 'Arial', sans-serif;
    font-size: 42px;
    font-weight: regular;
    line-height: 1;

    text-align: center;
    text-transform: uppercase;

    color: #fff;
}
.form__subtitle
{
    font-family: 'ProximaNova', 'Arial', sans-serif;
    font-size: 14px;
    font-weight: regular;
    line-height: 1;

    text-align: center;
    letter-spacing: 2px;
    text-transform: uppercase;

    color: #fff;
}
.form__personal-info
{
    padding-left: 0;

    list-style: none;
}
.form__field-personal
{
    font-family: 'ProximaNova', 'Arial', sans-serif;
    font-size: 14px;
    font-weight: regular;
    line-height: 1;

    display: block;

    width: 265px;
    margin: 0 auto;
    margin-bottom: 20px;
    padding-top: 15px;
    padding-right: 10px;
    padding-bottom: 15px;
    padding-left: 10px;

    opacity: 1;
    color: #839fb1;
    border: none;
    outline: none;
}
.form__field-personal::-webkit-input-placeholder
{
    font-family: 'ProximaNova', 'Arial', sans-serif;
    font-size: 18px;
    font-weight: regular;
    line-height: 1;

    opacity: 1;
    color: #839fb1;
}
.form__field-personal::-ms-input-placeholder
{
    font-family: 'ProximaNova', 'Arial', sans-serif;
    font-size: 18px;
    font-weight: regular;
    line-height: 1;

    opacity: 1;
    color: #839fb1;
}
.form__field-personal::placeholder
{
    font-family: 'ProximaNova', 'Arial', sans-serif;
    font-size: 18px;
    font-weight: regular;
    line-height: 1;

    opacity: 1;
    color: #839fb1;
}
.form__radio
{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;

    width: 290px;
    height: 40px;
    margin: 0 auto;
    margin-bottom: 15px;
    padding: 5px;

    list-style: none;

    border: 1px solid #fff;
    border-radius: 30px;

    -ms-flex-negative: 0;
    flex-shrink: 0;
}
.form__radio-item
{
    font-family: 'ProximaNova', 'Arial', sans-serif;
    font-size: 12px;
    font-weight: 700;
    line-height: 12px;

    text-align: right;
    text-transform: uppercase;

    opacity: 1;
    border-radius: 30px;
}
.form__radio-field
{
    display: none;
}
.form__radio-field + .form__radio-label
{
    position: relative;

    display: block;

    width: 120px;
    height: 27px;
    padding-top: 10px;
    padding-right: 25px;
    padding-bottom: 3px;

    color: #fff;
    border-radius: 30px;
    background-color: #839fb1;
}
.form__radio-field:checked + .form__radio-label
{
    position: relative;

    display: block;

    width: 120px;
    height: 27px;
    padding-top: 10px;
    padding-right: 25px;
    padding-bottom: 3px;

    color: #839fb1;
    border-radius: 30px;
    background-color: #fff;
}
.form__radio-field + .form__radio-label::before
{
    position: absolute;
    top: 7px;
    left: 15px;

    display: inline-block;

    width: 35px;
    height: 25px;
    margin-right: 15px;

    content: '';
    vertical-align: middle;
}
.form__radio-field:checked + .form__radio-label::before
{
    position: absolute;
    top: 7px;
    left: 15px;

    display: inline-block;

    width: 35px;
    height: 25px;
    margin-right: 15px;

    content: '';
    vertical-align: middle;

    opacity: 1;
    background: #fff url('../img/icon-cap.png') no-repeat 0 0;
    background-size: 35px 25px;
}
.form__radio-field--online:checked + .form__radio-label::before
{
    position: absolute;
    top: 7px;
    left: 15px;

    display: inline-block;

    width: 35px;
    height: 25px;
    margin-right: 15px;

    content: '';
    vertical-align: middle;

    background: #fff url('../img/icon-start.png') no-repeat 0 0;
    background-size: 35px 25px;
}
.form__checkbox
{
    padding-top: 5px;
    padding-right: 35px;
    padding-bottom: 15px;
    padding-left: 25px;

    list-style: none;

    text-align: right;
}
.form__checkbox-field
{
    display: none;
}
.form__checkbox-field + .form__checkbox-label
{
    font-family: 'ProximaNova', 'Arial', sans-serif;
    font-size: 12px;
    font-weight: regular;
    line-height: 16px;

    position: relative;

    display: block;

    height: 20px;
    margin: 0;
    padding-top: 2px;
    padding-right: 0;
    padding-bottom: 15px;
    padding-left: 0;

    text-transform: uppercase;

    opacity: 1;
    color: #fff;
    border: none;
}
.form__checkbox-field:checked + .form__checkbox-label
{
    font-family: 'ProximaNova', 'Arial', sans-serif;
    font-size: 12px;
    font-weight: regular;
    line-height: 16px;

    position: relative;

    display: block;

    height: 20px;
    margin: 0;
    padding-top: 2px;
    padding-right: 0;
    padding-bottom: 15px;
    padding-left: 0;

    text-transform: uppercase;

    opacity: 1;
    color: #fff;
    border: none;
}
.form__checkbox-field + .form__checkbox-label::before
{
    position: absolute;
    top: 0;
    left: 5px;

    display: inline-block;

    width: 34px;
    height: 31px;
    margin-right: 5px;

    content: '';
    vertical-align: middle;

    opacity: 1;
    background-image: url('../img/icon-checkbox-not.png');
    background-repeat: no-repeat;
    background-position: 2px 1px;
    background-size: 30px 30px;
}
.form__checkbox-field:checked + .form__checkbox-label::before
{
    position: absolute;
    top: 0;
    left: 5px;

    display: inline-block;

    width: 34px;
    height: 31px;
    margin-right: 5px;

    content: '';
    vertical-align: middle;

    opacity: 1;
    background-image: url('../img/icon-checkbox.png');
    background-repeat: no-repeat;
    background-position: 0 0;
    background-size: 34px 31px;
}
.form__submit
{
    font-family: 'ProximaNova', 'Arial', sans-serif;
    font-size: 18px;
    font-weight: bold;
    line-height: 1px;

    display: block;

    width: 270px;
    margin: 0 auto;
    margin-top: 5px;
    padding-top: 25px;
    padding-right: 10px;
    padding-bottom: 25px;
    padding-left: 10px;

    text-align: center;
    text-transform: uppercase;

    color: #fff;
    border: none;
    outline: none;
    background-color: #542749;
}
.form__text
{
    font-family: 'ProximaNova', 'Arial', sans-serif;
    font-size: 12px;
    font-weight: 700;
    line-height: 1;

    margin-top: 10px;
    padding: 5px;

    text-align: center;
    text-transform: uppercase;

    color: #fff;
}
@media (min-width: 768px)
{
    .form
    {
        width: 316px;
        height: 545px;
        padding-top: 30px;
        padding-right: 10px;
        padding-bottom: 15px;
        padding-left: 10px;
    }
    .form__field-personal
    {
        font-size: 18px;

        width: 275px;
        margin: 0 auto;
        margin-bottom: 20px;
        padding-top: 21px;
        padding-right: 10px;
        padding-bottom: 21px;
        padding-left: 10px;
    }
    .form__radio
    {
        width: 295px;
        margin: 0;
        margin-bottom: 15px;
    }
    .form__radio-field + .form__radio-label
    {
        width: 122px;
        height: 27px;
        padding-top: 10px;
        padding-right: 25px;
        padding-bottom: 3px;
    }
    .form__radio-field:checked + .form__radio-label
    {
        width: 122px;
        height: 27px;
        padding-top: 10px;
        padding-right: 25px;
        padding-bottom: 3px;
    }
    .form__radio-field--online:checked + .form__radio-label::before
    {
        position: absolute;
        top: 7px;
        left: 15px;

        display: inline-block;

        width: 35px;
        height: 25px;
        margin-right: 15px;

        content: '';
        vertical-align: middle;

        background: #fff url('../img/icon-start.png') no-repeat 0 0;
        background-size: 35px 25px;
    }
    .form__checkbox-field:checked + .form__checkbox-label
    {
        font-family: 'ProximaNova', 'Arial', sans-serif;
        font-size: 12px;
        font-weight: regular;
        line-height: 16px;

        position: relative;

        display: block;

        height: 20px;
        margin: 0;
        padding-top: 2px;
        padding-right: 0;
        padding-bottom: 15px;
        padding-left: 0;

        text-transform: uppercase;

        opacity: 1;
        color: #fff;
        border: none;
    }
    .form__checkbox-field:checked + .form__checkbox-label::before
    {
        position: absolute;
        top: 0;
        left: 5px;

        display: inline-block;

        width: 34px;
        height: 31px;
        margin-right: 5px;

        content: '';
        vertical-align: middle;

        opacity: 1;
        background-image: url('../img/icon-checkbox.png');
        background-repeat: no-repeat;
        background-position: 0 0;
        background-size: 34px 31px;
    }
    .form__submit
    {
        width: 300px;
    }
    .form__text
    {
        font-size: 14px;
    }
}
@media (min-width: 1200px)
{
    .form
    {
        width: 316px;
        height: 562px;
        padding-top: 40px;
        padding-right: 60px;
        padding-bottom: 15px;
        padding-left: 60px;
    }
    .form__field-personal
    {
        font-size: 18px;

        margin-bottom: 20px;
        padding-top: 21px;
        padding-right: 20px;
        padding-bottom: 21px;
        padding-left: 20px;
    }
    .form__radio
    {
        width: 295px;
        margin: 0;
        margin-bottom: 15px;
    }
    .form__radio-field + .form__radio-label
    {
        width: 122px;
        height: 27px;
        padding-top: 10px;
        padding-right: 25px;
        padding-bottom: 3px;
    }
    .form__radio-field:checked + .form__radio-label
    {
        width: 122px;
        height: 27px;
        padding-top: 10px;
        padding-right: 25px;
        padding-bottom: 3px;
    }
    .form__radio-field--online:checked + .form__radio-label::before
    {
        position: absolute;
        top: 7px;
        left: 15px;

        display: inline-block;

        width: 35px;
        height: 25px;
        margin-right: 15px;

        content: '';
        vertical-align: middle;

        background: #fff url('../img/icon-start.png') no-repeat 0 0;
        background-size: 35px 25px;
    }
    .form__checkbox-field:checked + .form__checkbox-label
    {
        font-family: 'ProximaNova', 'Arial', sans-serif;
        font-size: 12px;
        font-weight: regular;
        line-height: 16px;

        position: relative;

        display: block;

        height: 20px;
        margin: 0;
        padding-top: 2px;
        padding-right: 0;
        padding-bottom: 15px;
        padding-left: 0;

        text-transform: uppercase;

        opacity: 1;
        color: #fff;
        border: none;
    }
    .form__checkbox-field:checked + .form__checkbox-label::before
    {
        position: absolute;
        top: 0;
        left: 5px;

        display: inline-block;

        width: 34px;
        height: 31px;
        margin-right: 5px;

        content: '';
        vertical-align: middle;

        opacity: 1;
        background-image: url('../img/icon-checkbox.png');
        background-repeat: no-repeat;
        background-position: 0 0;
        background-size: 34px 31px;
    }
    .form__submit
    {
        width: 300px;
    }
    .form__text
    {
        font-size: 14px;
    }
}
.social
{
    width: 320px;
    margin: 0 auto;
}
.social__text
{
    font-family: 'ProximaNova', 'Arial', sans-serif;
    font-size: 12px;
    font-weight: normal;
    line-height: 1;

    margin-top: 5px;
    margin-bottom: 5px;
    padding: 1px;

    text-align: center;
    text-transform: uppercase;

    color: #426176;
}
.social__list
{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;

    width: 200px;
    margin: 0 auto;
    padding-left: 0;

    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}
.social__item
{
    position: relative;

    width: 31px;
    height: 31px;

    list-style: none;
}
.social__link--vk
{
    position: absolute;
    top: 0;
    left: 0;

    width: 31px;
    height: 31px;

    content: '';

    background: url('../img/icon-vk.png') no-repeat;
    background-size: 31px 31px;
}
.social__link--fb
{
    position: absolute;
    top: 0;
    left: 0;

    width: 31px;
    height: 31px;

    content: '';

    background: url('../img/icon-fb.png') no-repeat;
    background-size: 31px 31px;
}
.social__link--google
{
    position: absolute;
    top: 0;
    left: 0;

    width: 31px;
    height: 31px;

    content: '';

    background: url('../img/icon-google.png') no-repeat;
    background-size: 31px 31px;
}
.social__link--tw
{
    position: absolute;
    top: 0;
    left: 0;

    width: 31px;
    height: 31px;

    content: '';

    background: url('../img/icon-twitter.png') no-repeat;
    background-size: 31px 31px;
}
.social__link--ok
{
    position: absolute;
    top: 0;
    left: 0;

    width: 31px;
    height: 31px;

    content: '';

    background: url('../img/icon-ok.png') no-repeat;
    background-size: 31px 31px;
}
.page-main__information-container
{
    width: 320px;
    margin: 0 auto;

    border-right: 1px solid #d2cad5;
    border-left: 1px solid #d2cad5;
}
.page-main__information-title
{
    font-family: 'ProximaNova', 'Arial', sans-serif;
    font-size: 24px;
    font-weight: 700;
    line-height: 26px;

    position: relative;

    height: 40px;
    margin: 0;
    padding-top: 25px;
    padding-right: 20px;
    padding-bottom: 35px;
    padding-left: 20px;

    color: #542749;
    border-bottom: 1px solid #d2cad5;
}
.page-main__information-list
{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
        flex-direction: column;

    margin: 0;
    padding: 0;

    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    -ms-flex-negative: 0;
    flex-shrink: 0;
}
.page-main__information-item
{
    font-family: 'ProximaNova', 'Arial', sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 14px;

    width: 240px;
    height: 60px;
    padding-top: 25px;
    padding-right: 10px;
    padding-bottom: 15px;
    padding-left: 70px;

    list-style: none;

    color: #542749;
    border-bottom: 1px solid #d2cad5;
}
.page-main__information-item--one
{
    position: relative;

    background-color: #fbf9fc;

    -webkit-box-ordinal-group: 2;
    -ms-flex-order: 1;
    order: 1;
}
.page-main__information-item--one::before
{
    font-family: 'ProximaNova', 'Arial', sans-serif;
    font-size: 36px;
    font-weight: bold;
    line-height: 48px;

    position: absolute;
    top: 25px;
    left: 10px;

    content: '01';

    color: #66b045;
}
.page-main__information-item--two
{
    position: relative;

    background-color: #f5f0f7;

    -webkit-box-ordinal-group: 3;
    -ms-flex-order: 2;
    order: 2;
}
.page-main__information-item--two::before
{
    font-family: 'ProximaNova', 'Arial', sans-serif;
    font-size: 36px;
    font-weight: bold;
    line-height: 48px;

    position: absolute;
    top: 25px;
    left: 10px;

    content: '02';

    color: #66b045;
}
.page-main__information-item--three
{
    position: relative;

    background-color: #fff;

    -webkit-box-ordinal-group: 4;
    -ms-flex-order: 3;
    order: 3;
}
.page-main__information-item--three::before
{
    font-family: 'ProximaNova', 'Arial', sans-serif;
    font-size: 36px;
    font-weight: bold;
    line-height: 48px;

    position: absolute;
    top: 25px;
    left: 10px;

    content: '03';

    color: #66b045;
}
.page-main__information-item--four
{
    position: relative;

    background-color: #fff;

    -webkit-box-ordinal-group: 5;
    -ms-flex-order: 4;
    order: 4;
}
.page-main__information-item--four::before
{
    font-family: 'ProximaNova', 'Arial', sans-serif;
    font-size: 36px;
    font-weight: bold;
    line-height: 48px;

    position: absolute;
    top: 25px;
    left: 10px;

    content: '04';

    color: #66b045;
}
.page-main__information-item--five
{
    position: relative;

    background-color: #faf7fb;

    -webkit-box-ordinal-group: 6;
    -ms-flex-order: 5;
    order: 5;
}
.page-main__information-item--five::before
{
    font-family: 'ProximaNova', 'Arial', sans-serif;
    font-size: 36px;
    font-weight: bold;
    line-height: 48px;

    position: absolute;
    top: 25px;
    left: 10px;

    content: '05';

    color: #66b045;
}
.page-main__information-item--six
{
    position: relative;

    background-color: #fbf9fc;

    -webkit-box-ordinal-group: 7;
    -ms-flex-order: 6;
    order: 6;
}
.page-main__information-item--six::before
{
    font-family: 'ProximaNova', 'Arial', sans-serif;
    font-size: 36px;
    font-weight: bold;
    line-height: 48px;

    position: absolute;
    top: 25px;
    left: 10px;

    content: '06';

    color: #66b045;
}
.page-main__information-wrapper
{
    position: relative;

    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
        flex-direction: column;

    padding-top: 20px;
    padding-right: 10px;
    padding-left: 10px;

    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
}
.page-main__information-link
{
    font-family: 'ProximaNova', 'Arial', sans-serif;
    font-size: 14px;
    font-weight: bold;
    line-height: 1;

    display: block;

    width: 140px;
    margin: 0 auto;
    padding-top: 15px;
    padding-right: 15px;
    padding-bottom: 15px;
    padding-left: 15px;

    text-align: center;
    text-decoration: none;
    text-transform: uppercase;

    color: #fff;
    background-color: #542749;
}
.page-main__information-text
{
    font-family: 'ProximaNova', 'Arial', sans-serif;
    font-size: 10px;
    font-weight: 400;
    line-height: 10px;

    padding: 10px;

    text-align: center;
    text-transform: uppercase;

    color: #66b045;
}
.page-main__reasons
{
    height: 277px;

    background: url('../img/reasons-block-background.jpg') no-repeat 50% 0;
    background-size: cover;
}
.page-main__reasons-container
{
    width: 320px;
    margin: 0 auto;
}
.page-main__reasons-title
{
    font-family: 'ProximaNova', 'Arial', sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 20px;

    margin-top: 0;
    margin-bottom: 0;
    margin-left: 50%;
    padding-top: 15px;
    padding-right: 3px;
    padding-bottom: 5px;
    padding-left: 12px;

    color: #fff;
}
.page-main__reasons-list
{
    font-family: 'ProximaNova', 'Arial', sans-serif;
    font-size: 10px;
    font-weight: regular;
    line-height: 10px;

    margin-left: 50%;
    padding-top: 3px;
    padding-right: 3px;
    padding-bottom: 3px;
    padding-left: 12px;

    color: #fff;
}
.page-main__reasons-item
{
    position: relative;

    height: 40px;
    margin-bottom: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 60px;

    list-style: none;
}
.page-main__reasons-item--pose
{
    padding-top: 10px;
    padding-bottom: 0;
}
.page-main__reasons-item--pose::before
{
    position: absolute;
    top: 0;
    left: 0;

    width: 50px;
    height: 50px;

    content: '';

    border: 2px solid #fff;
    border-radius: 50%;
    background: url('../img/icon-lotus-pose.png') no-repeat 50% 50%;
    background-size: 25px 25px;
}
.page-main__reasons-item--hand::before
{
    position: absolute;
    top: 0;
    left: 0;

    width: 50px;
    height: 50px;

    content: '';

    border: 2px solid #fff;
    border-radius: 50%;
    background: url('../img/icon-hand-mobile.png') no-repeat 50% 50%;
    background-size: 25px 25px;
}
.page-main__reasons-item--lotus::before
{
    position: absolute;
    top: 0;
    left: 0;

    width: 50px;
    height: 50px;

    content: '';

    border: 2px solid #fff;
    border-radius: 50%;
    background: url('../img/icon-lotus-mobile.png') no-repeat 50% 50%;
    background-size: 25px 25px;
}
.page-main__intensive
{
    min-height: 207px;

    background-image: url('../img/intensive-img.png'), -webkit-gradient(linear, left top, right top, color-stop(33%, #dfdbe6), color-stop(33%, #f3ebf5), color-stop(67%, #f3ebf5));
    background-image: url('../img/intensive-img.png'), linear-gradient(to right, #dfdbe6 33%, #f3ebf5 33%, #f3ebf5 67%);
    background-repeat: no-repeat, no-repeat;
    background-position: 17% 100%,
    100% 100%;
    background-size: 90px 175px,
    100% 100%;
}
.page-main__intensive-container
{
    width: 320px;
    margin: 0 auto;
}
.page-main__intensive-title
{
    font-family: 'ProximaNova', 'Arial', sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 1;

    margin-top: 0;
    margin-bottom: 0;
    margin-left: 30%;
    padding-top: 15px;
    padding-right: 1px;
    padding-bottom: 6px;

    color: #542749;
}
.page-main__intensive-subtitle
{
    font-family: 'ProximaNova', 'Arial', sans-serif;
    font-size: 14px;
    font-weight: 600;
    line-height: 12px;

    margin-top: 0;
    margin-bottom: 0;
    margin-left: 30%;
    padding-top: 1px;
    padding-right: 1px;
    padding-bottom: 1px;

    color: #542749;
}
.page-main__intensive-description
{
    font-family: 'ProximaNova', 'Arial', sans-serif;
    font-size: 12px;
    font-weight: 400;
    line-height: 12px;

    margin-top: 0;
    margin-bottom: 0;
    margin-left: 30%;
    padding-top: 5px;
    padding-right: 1px;
    padding-bottom: 5px;

    color: #542749;
}
.page-main__intensive-list
{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
        flex-direction: row;

    margin-left: 30%;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 0;

    border-top: 1px solid #66b045;

    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -ms-flex-negative: 0;
    flex-shrink: 0;
}
.page-main__intensive-item
{
    padding-right: 10px;
    padding-left: 27px;

    list-style: none;
}
.page-main__intensive-item--eleven
{
    font-family: 'ProximaNova', 'Arial', sans-serif;
    font-size: 10px;
    font-weight: 400;
    line-height: 1;

    position: relative;

    text-transform: uppercase;

    color: #66b045;
}
.page-main__intensive-item--eleven::before
{
    font-family: 'ProximaNova', 'Arial', sans-serif;
    font-size: 28px;
    font-weight: bold;
    line-height: 1;

    position: absolute;
    top: -5px;
    left: -5px;

    content: '11';

    color: #66b045;
}
.page-main__intensive-item--twelve
{
    font-family: 'ProximaNova', 'Arial', sans-serif;
    font-size: 10px;
    font-weight: 400;
    line-height: 1;

    position: relative;

    text-transform: uppercase;

    color: #66b045;
}
.page-main__intensive-item--twelve::before
{
    font-family: 'ProximaNova', 'Arial', sans-serif;
    font-size: 28px;
    font-weight: bold;
    line-height: 1;

    position: absolute;
    top: -5px;
    left: -5px;

    content: '12';

    color: #66b045;
}
.page-main__intensive-item--thirteen
{
    font-family: 'ProximaNova', 'Arial', sans-serif;
    font-size: 10px;
    font-weight: 400;
    line-height: 1;

    position: relative;

    text-transform: uppercase;

    color: #66b045;
}
.page-main__intensive-item--thirteen::before
{
    font-family: 'ProximaNova', 'Arial', sans-serif;
    font-size: 28px;
    font-weight: bold;
    line-height: 1;

    position: absolute;
    top: -5px;
    left: -5px;

    content: '13';

    color: #66b045;
}
.page-main__intensive-wrapper
{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
        flex-direction: column;

    margin-left: 30%;

    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
}
.page-main__intensive-link
{
    font-family: 'ProximaNova', 'Arial', sans-serif;
    font-size: 14px;
    font-weight: 600;
    line-height: 1;

    display: block;

    width: 140px;
    padding-top: 12px;
    padding-right: 5px;
    padding-bottom: 12px;

    text-align: center;
    text-decoration: none;
    text-transform: uppercase;

    color: #542749;
}
.page-main__intensive-link:hover
{
    font-family: 'ProximaNova', 'Arial', sans-serif;
    font-size: 14px;
    font-weight: 600;
    line-height: 1;

    display: block;

    width: 140px;
    padding-top: 12px;
    padding-right: 5px;
    padding-bottom: 12px;
    padding-left: 5px;

    text-align: center;
    text-decoration: none;
    text-transform: uppercase;

    color: #fff;
    background-color: #542749;
}
.page-main__intensive-text
{
    font-family: 'ProximaNova', 'Arial', sans-serif;
    font-size: 12px;
    font-weight: 400;
    line-height: 20px;

    width: 200px;
    margin-top: 0;
    padding-top: 10px;
    padding-right: 5px;
    padding-bottom: 0;
    padding-left: 5px;

    color: #542749;
}
.page-main__intensive-form
{
    display: none;
}
.page-main__form
{
    display: none;
}
@media (min-width: 768px)
{
    .page-main__information-container
    {
        width: 768px;
        margin: 0 auto;

        border-left: none;
    }
    .page-main__information-title
    {
        font-size: 36px;
        line-height: 36px;

        height: 70px;
        padding-top: 44px;
        padding-right: 65px;
        padding-bottom: 60px;
        padding-left: 65px;

        border-left: 1px solid #d2cad5;
    }
    .page-main__information-title::after
    {
        position: absolute;
        top: 0;
        left: 511px;

        width: 255px;
        height: 174px;

        content: '';

        border-left: 1px solid #d2cad5;
        background-color: #fbf9fc;
    }
    .page-main__information-list
    {
            flex-direction: row;

        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -ms-flex-direction: row;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    }
    .page-main__information-item
    {
        font-size: 16px;
        line-height: 18px;

        width: 198px;
        height: 74px;
        padding-top: 74px;
        padding-right: 20px;
        padding-bottom: 26px;
        padding-left: 37px;

        border-left: 1px solid #d2cad5;
    }
    .page-main__information-item--one::before
    {
        font-size: 36px;
        line-height: 48px;

        top: 20px;
        left: 35px;
    }
    .page-main__information-item--two::before
    {
        font-size: 36px;
        line-height: 48px;

        top: 20px;
        left: 35px;
    }
    .page-main__information-item--three::before
    {
        font-size: 36px;
        line-height: 48px;

        top: 20px;
        left: 35px;
    }
    .page-main__information-item--four::before
    {
        font-size: 36px;
        line-height: 48px;

        top: 20px;
        left: 35px;
    }
    .page-main__information-item--five::before
    {
        font-size: 36px;
        line-height: 48px;

        top: 20px;
        left: 35px;
    }
    .page-main__information-item--six::before
    {
        font-size: 36px;
        line-height: 48px;

        top: 20px;
        left: 35px;
    }
    .page-main__information-wrapper
    {
            flex-direction: row;

        height: 110px;
        padding: 0;
        padding-left: 41px;

        border-right: 1px solid #d2cad5;
        border-left: 1px solid #d2cad5;

        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -ms-flex-direction: row;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-pack: start;
        -ms-flex-pack: start;
        justify-content: flex-start;
    }
    .page-main__information-wrapper::after
    {
        position: absolute;
        top: 0;
        left: 511px;

        width: 255px;
        height: 110px;

        content: '';

        border-left: 1px solid #d2cad5;
        background-color: #fff;
    }
    .page-main__information-link
    {
        font-size: 14px;

        width: 181px;
        margin: 0;
        padding-top: 17px;
        padding-right: 5px;
        padding-bottom: 17px;
        padding-left: 5px;
    }
    .page-main__information-text
    {
        font-size: 14px;
        line-height: 14px;

        margin-left: 30px;
        padding: 2px;
    }
    .page-main__reasons
    {
        height: 433px;
    }
    .page-main__reasons-container
    {
        width: 768px;
        margin: 0 auto;
    }
    .page-main__reasons-title
    {
        font-size: 36px;
        line-height: 34px;

        margin-top: 0;
        margin-bottom: 0;
        padding-top: 20px;
        padding-right: 5px;
        padding-bottom: 10px;
        padding-left: 35px;
    }
    .page-main__reasons-list
    {
        font-size: 18px;
        line-height: 20px;

        margin-top: 0;
        padding-top: 10px;
        padding-right: 10px;
        padding-bottom: 10px;
        padding-left: 50px;
    }
    .page-main__reasons-item
    {
        height: 80px;
        padding-top: 15px;
        padding-bottom: 2px;
        padding-left: 96px;
    }
    .page-main__reasons-item--pose::before
    {
        width: 80px;
        height: 80px;

        background: url('../img/icon-lotus-pose.png') no-repeat 50% 50%;
        background-size: 40px 40px;
    }
    .page-main__reasons-item--hand::before
    {
        width: 80px;
        height: 80px;

        background: url('../img/icon-hand-tablet.png') no-repeat 50% 50%;
        background-size: 40px 40px;
    }
    .page-main__reasons-item--lotus::before
    {
        width: 80px;
        height: 80px;

        background: url('../img/icon-lotus-tablet.png') no-repeat 50% 50%;
        background-size: 40px 40px;
    }
    .page-main__intensive
    {
        min-height: 323px;

        background-size: 141px 274px,
        100% 100%;
    }
    .page-main__intensive-container
    {
        width: 768px;
    }
    .page-main__intensive-title
    {
        font-size: 36px;
        line-height: 1;

        margin-top: 0;
        margin-bottom: 0;
        margin-left: 33%;
        padding-top: 60px;
        padding-right: 5px;
        padding-bottom: 25px;
    }
    .page-main__intensive-subtitle
    {
        font-size: 24px;
        line-height: 22px;

        margin-top: 0;
        margin-bottom: 0;
        margin-left: 33%;
        padding-top: 1px;
        padding-right: 5px;
        padding-bottom: 1px;
    }
    .page-main__intensive-description
    {
        font-size: 14px;
        line-height: 18px;

        margin-top: 0;
        margin-bottom: 0;
        margin-left: 33%;
        padding-top: 20px;
        padding-right: 5px;
        padding-bottom: 20px;
    }
    .page-main__intensive-list
    {
        margin-left: 33%;
        padding-top: 20px;
        padding-bottom: 20px;
        padding-left: 0;
    }
    .page-main__intensive-item
    {
        padding-right: 5px;
        padding-left: 45px;
    }
    .page-main__intensive-item--eleven
    {
        font-size: 18px;
    }
    .page-main__intensive-item--eleven::before
    {
        font-size: 48px;

        top: -5px;
        left: -5px;
    }
    .page-main__intensive-item--twelve
    {
        font-size: 18px;
    }
    .page-main__intensive-item--twelve::before
    {
        font-size: 48px;

        top: -5px;
        left: -5px;
    }
    .page-main__intensive-item--thirteen
    {
        font-size: 18px;
    }
    .page-main__intensive-item--thirteen::before
    {
        font-size: 48px;

        top: -5px;
        left: -5px;
    }
    .page-main__intensive-wrapper
    {
            flex-direction: row;

        margin-left: 33%;

        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -ms-flex-direction: row;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-pack: start;
        -ms-flex-pack: start;
        justify-content: flex-start;
        -ms-flex-negative: 0;
        flex-shrink: 0;
    }
    .page-main__intensive-link
    {
        font-size: 18px;
        line-height: 20px;

        width: 271px;
        padding-top: 23px;
        padding-right: 5px;
        padding-bottom: 23px;
    }
    .page-main__intensive-link:hover
    {
        font-size: 18px;
        line-height: 20px;

        width: 271px;
        padding-top: 23px;
        padding-right: 5px;
        padding-bottom: 23px;
        padding-left: 5px;
    }
    .page-main__intensive-text
    {
        font-size: 14px;
        line-height: 18px;

        width: 340px;
        margin-top: 0;
        padding-top: 10px;
        padding-right: 5px;
        padding-bottom: 0;
        padding-left: 5px;
    }
}
@media (min-width: 1200px)
{
    .page-main__information-container
    {
        width: 1200px;
        margin: 0 auto;
    }
    .page-main__information-title
    {
        font-size: 48px;
        line-height: 48px;

        height: 70px;
        padding-top: 95px;
        padding-right: 65px;
        padding-bottom: 105px;
        padding-left: 65px;

        border-right: 1px solid #d2cad5;
        border-left: 1px solid #d2cad5;
    }
    .page-main__information-title::after
    {
        position: absolute;
        top: 0;
        left: 800px;

        width: 398px;
        height: 270px;

        content: '';

        border-left: 1px solid #d2cad5;
        background-color: #fbf9fc;
    }
    .page-main__information-list
    {
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    }
    .page-main__information-item
    {
        font-size: 24px;
        line-height: 32px;

        width: 294px;
        height: 115px;
        padding-top: 115px;
        padding-right: 45px;
        padding-bottom: 40px;
        padding-left: 60px;

        border-left: 1px solid #d2cad5;
    }
    .page-main__information-item--one::before
    {
        font-size: 48px;
        line-height: 60px;

        top: 50px;
        left: 60px;
    }
    .page-main__information-item--two::before
    {
        font-size: 48px;
        line-height: 60px;

        top: 50px;
        left: 60px;
    }
    .page-main__information-item--three::before
    {
        font-size: 48px;
        line-height: 60px;

        top: 50px;
        left: 60px;
    }
    .page-main__information-item--four::before
    {
        font-size: 48px;
        line-height: 60px;

        top: 50px;
        left: 60px;
    }
    .page-main__information-item--five::before
    {
        font-size: 48px;
        line-height: 60px;

        top: 50px;
        left: 60px;
    }
    .page-main__information-item--six::before
    {
        font-size: 48px;
        line-height: 60px;

        top: 50px;
        left: 60px;
    }
    .page-main__information-wrapper
    {
            flex-direction: row;

        height: 143px;
        padding-left: 65px;

        border-right: 1px solid #d2cad5;
        border-left: 1px solid #d2cad5;

        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -ms-flex-direction: row;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-pack: start;
        -ms-flex-pack: start;
        justify-content: flex-start;
    }
    .page-main__information-wrapper::after
    {
        position: absolute;
        top: 0;
        left: 799px;

        width: 399px;
        height: 143px;

        content: '';

        border-left: 1px solid #d2cad5;
        background-color: #fff;
    }
    .page-main__information-link
    {
        font-size: 18px;

        width: 284px;
        padding-top: 25px;
        padding-right: 10px;
        padding-bottom: 25px;
        padding-left: 10px;
    }
    .page-main__information-text
    {
        font-size: 18px;
        line-height: 18px;

        margin-left: 35px;
        padding: 2px;
    }
    .page-main__reasons
    {
        height: 692px;
    }
    .page-main__reasons-container
    {
        width: 1200px;
        margin: 0 auto;
    }
    .page-main__reasons-title
    {
        font-size: 48px;
        line-height: 44px;

        margin-top: 0;
        margin-bottom: 0;
        padding-top: 60px;
        padding-right: 10px;
        padding-bottom: 5px;
        padding-left: 50px;
    }
    .page-main__reasons-list
    {
        font-size: 24px;
        line-height: 28px;

        padding-top: 10px;
        padding-right: 10px;
        padding-bottom: 10px;
        padding-left: 50px;
    }
    .page-main__reasons-item
    {
        height: 120px;
        padding-top: 25px;
        padding-bottom: 5px;
        padding-left: 168px;
    }
    .page-main__reasons-item--pose::before
    {
        width: 120px;
        height: 120px;

        background: url('../img/icon-lotus-pose.png') no-repeat 50% 50%;
        background-size: 60px 60px;
    }
    .page-main__reasons-item--hand::before
    {
        width: 120px;
        height: 120px;

        background: url('../img/icon-hand.png') no-repeat 50% 50%;
        background-size: 60px 60px;
    }
    .page-main__reasons-item--lotus::before
    {
        width: 120px;
        height: 120px;

        background: url('../img/lotus.png') no-repeat 50% 50%;
        background-size: 60px 60px;
    }
    .page-main__intensive
    {
        min-height: 516px;

        background-size: 225px 438px,
        100% 100%;
    }
    .page-main__intensive-container
    {
        width: 1200px;
    }
    .page-main__intensive-title
    {
        font-size: 52px;
        line-height: 1;

        margin-top: 0;
        margin-bottom: 0;
        margin-left: 33%;
        padding-top: 60px;
        padding-right: 5px;
        padding-bottom: 25px;
    }
    .page-main__intensive-subtitle
    {
        font-size: 32px;
        line-height: 36px;

        margin-top: 0;
        margin-bottom: 0;
        margin-left: 33%;
        padding-top: 1px;
        padding-right: 5px;
        padding-bottom: 1px;
    }
    .page-main__intensive-description
    {
        font-size: 18px;
        line-height: 24px;

        margin-top: 0;
        margin-bottom: 0;
        margin-left: 33%;
        padding-top: 20px;
        padding-right: 5px;
        padding-bottom: 20px;
    }
    .page-main__intensive-list
    {
        margin-left: 33%;
        padding-top: 20px;
        padding-bottom: 20px;
        padding-left: 0;
    }
    .page-main__intensive-item
    {
        padding-left: 85px;
    }
    .page-main__intensive-item--eleven
    {
        font-size: 24px;
    }
    .page-main__intensive-item--eleven::before
    {
        font-size: 83px;

        top: -10px;
        left: -5px;
    }
    .page-main__intensive-item--twelve
    {
        font-size: 24px;
    }
    .page-main__intensive-item--twelve::before
    {
        font-size: 83px;

        top: -10px;
        left: -5px;
    }
    .page-main__intensive-item--thirteen
    {
        font-size: 24px;
    }
    .page-main__intensive-item--thirteen::before
    {
        font-size: 83px;

        top: -10px;
        left: -5px;
    }
    .page-main__intensive-wrapper
    {
        margin-left: 33%;

        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-pack: start;
        -ms-flex-pack: start;
        justify-content: flex-start;
    }
    .page-main__intensive-link
    {
        font-size: 18px;
        line-height: 20px;

        width: 271px;
        padding-top: 23px;
        padding-right: 5px;
        padding-bottom: 23px;
    }
    .page-main__intensive-link:hover
    {
        font-size: 18px;
        line-height: 20px;

        width: 271px;
        padding-top: 23px;
        padding-right: 5px;
        padding-bottom: 23px;
        padding-left: 5px;
    }
    .page-main__intensive-text
    {
        font-size: 16px;
        line-height: 20px;

        width: 340px;
        margin-top: 0;
        padding-top: 10px;
        padding-right: 20px;
        padding-bottom: 0;
        padding-left: 20px;
    }
}
.page-footer
{
    background-color: #542749;
}
.page-footer__container
{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
        flex-direction: column;

    width: 290px;
    min-height: 50px;
    margin: 0 auto;
    padding: 15px;

    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}
.page-footer__copyright
{
    font-family: 'ProximaNova', 'Arial', sans-serif;
    font-size: 16px;
    font-weight: regular;
    line-height: 15px;

    padding: 5px;

    text-decoration: none;

    color: #fff;
}
.page-footer__privacy
{
    font-family: 'ProximaNova', 'Arial', sans-serif;
    font-size: 16px;
    font-weight: regular;
    line-height: 15px;

    padding: 5px;

    color: #fff;
}
@media (min-width: 768px)
{
    .page-footer__container
    {
            flex-direction: row;

        width: 738px;
        margin: 0 auto;

        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -ms-flex-direction: row;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between;
    }
}
@media (min-width: 1200px)
{
    .page-footer__container
    {
        width: 1170px;
        margin: 0 auto;
    }
}
body
{
    font-family: 'ProximaNova', 'Arial', sans-serif;
    font-size: 12px;
    font-style: normal;
    line-height: 14px;

    margin: 0;
    padding: 0;

    color: #542749;
    background-color: transparent;
}
.body-form
{
    min-width: 316px;
    max-width: 436px;
    margin: 0;
    margin: 0 auto;
    padding: 0;
}
img
{
    max-width: 100%;
    height: auto;
}
.container
{
    min-width: 320px;
    max-width: 1920px;
    margin: 0 auto;

    -webkit-box-shadow: 0 0 10px 10px #c6c3c6;
            box-shadow: 0 0 10px 10px #c6c3c6;
}
.fancybox-container .fancybox-content
{
    -webkit-box-sizing: content-box;
            box-sizing: content-box;
}
.fancybox-container .fancybox-content form
{
    -webkit-box-sizing: content-box;
            box-sizing: content-box;
}
.fancybox-container .fancybox-content ul
{
    -webkit-box-sizing: content-box;
            box-sizing: content-box;
}
.fancybox-container .fancybox-content ul li
{
    -webkit-box-sizing: content-box;
            box-sizing: content-box;
}
.fancybox-container .fancybox-content ul li input
{
    -webkit-box-sizing: content-box;
            box-sizing: content-box;
}
.fancybox-container .fancybox-content ul li input + label
{
    -webkit-box-sizing: content-box;
            box-sizing: content-box;
}
.fancybox-container .fancybox-content div input + label
{
    -webkit-box-sizing: content-box;
            box-sizing: content-box;
}
.fancybox-container .fancybox-content div
{
    -webkit-box-sizing: content-box;
            box-sizing: content-box;
}
.fancybox-container .fancybox-content button
{
    -webkit-box-sizing: content-box;
            box-sizing: content-box;
}
@font-face
{
    font-family: 'ProximaNova';
    font-weight: normal;
    font-style: normal;

    src: url('../fonts/ProximaNova-Regular.woff') format('woff');
    font-display: swap;
}
@font-face
{
    font-family: 'ProximaNova';
    font-weight: bold;
    font-style: normal;

    src: url('../fonts/ProximaNova-Bold.woff') format('woff');
    font-display: swap;
}
@font-face
{
    font-family: 'ProximaNova';
    font-weight: 600;
    font-style: normal;

    src: url('../fonts/ProximaNova-Semibold.woff') format('woff');
    font-display: swap;
}
@font-face
{
    font-family: 'ProximaNova';
    font-weight: 800;
    font-style: normal;

    src: url('../fonts/ProximaNova-Extrabld.woff') format('woff');
    font-display: swap;
}
